
<!-- Player URL => {{playerUrl}} -->
<mat-card>

 <button mat-raised-button style="margin: 10px" color="primary" class="button" (click) = "isAddPlayer = true; isPlay = false">Alta Jugador</button>
 
 <button mat-raised-button style="margin: 10px" color="primary" class="button" (click) =  "isPlay = true; isAddPlayer = false">Jugar</button>
 
<br>
<ng-container *ngIf="isAddPlayer">

  <ng-container *ngIf="!isPlayerCreated; else MesageCreatePlayer"> 
    <mat-card-header>Alta jugador</mat-card-header>
    <br>
  <div>
    <mat-form-field>
    <mat-label for="namePlayer">
      Pon tu nombre
    </mat-label>
    <input  matInput id="namePlayer" type="text" [(ngModel)]="namePlayer" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="imageUrl">
      Pon la imagen que te represente
    </mat-label>
    <input  matInput id="imageUrl" type="text" [(ngModel)]="imageUrl" >
  </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="button" (click) = "createPlayer()">Crear un nuevo Jugador</button>
</ng-container>

 <ng-template #MesageCreatePlayer>
    <p>Jugador creado correctamente</p>
  </ng-template>


</ng-container>

<ng-container *ngIf="isPlay">

<p>A jugar</p>

<table>
  <thead>
    <th>Imagen</th>
    <th>¿Quien es?</th>
  </thead>
  <tr *ngFor="let player of players">
    <td>{{player.imageUrl}}</td>
    <td>
    <select name="whois">
      <option value="">Elige una opción</option>
      <option *ngFor="let playername of players" value="{{playername.id}}">{{playername.namePlayer}}</option>
    </select>
    </td>
    <td>
      <!-- <button mat-raised-button color="primary" class="button" (click) = "createVote({{player.id}}, {{playername.id}})" >Enviar</button> -->
      <button mat-raised-button color="primary" class="button" (click) = "createVote(player.id, 2)" >Enviar</button>
    </td>
    </tr>
</table>

<br>

 
</ng-container>

</mat-card>
