
<!-- Player URL => {{playerUrl}} -->


<mat-card>
  <mat-card-header>Alta jugador</mat-card-header>
  <div>
    <mat-form-field>
    <mat-label for="namePlayer">
      Pon tu nombre
    </mat-label>
    <input  matInput id="namePlayer" type="text" [(ngModel)]="namePlayer" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="imageUrl">
      Pon la imagen que te represente
    </mat-label>
    <input  matInput id="imageUrl" type="text" [(ngModel)]="imageUrl" >
  </mat-form-field>
  
  </div>

  <button mat-raised-button color="primary" class="button" (click) = "createPlayer()">Crear un nuevo Jugador</button>


</mat-card>
