<p>game-description works!</p>
<h1>{{gametitle}}</h1>
<h2>Explicación de la dinámica</h2>
<p>El objetivo de esta dinámica es conocer mejor a nuestros compañeros, mediante una imagen y su conversación posterior.</p>
<p>El facilitador debe elegir una temática, como por ejemplo: con que animal te identificas, la foto de un lugar donde te gustaría vivir, la imagen de una emoción, ….</p>
<p>La dinámica consiste en:</p>
<p> - El facilitador informa a los participantes de la temática y del funcionamiento de la dinámica.</p>
<p> - Cada participante debe subir una foto, dependiendo de la temática que haya elegido el facilitador.</p>
<p> - Cuando todos los participantes hayan subido su imagen, se mostraran las fotos de cada participante sin el nombre de la persona que la ha subido. Cada participante debe averiguar quien es quien y asociar a cada imagen un nombre. Esta parte se puede realizar al inicio de la facilitación o antes.</p>
<p> - En la sesión, el facilitador mostrará una imagen y mostrará quién es. En ese momento la persona que es debe explicar porqué ha escogido esta imagen, podemos aprovechar también para preguntar quién ha acertado y potenciar que todos puedan opinar. Así con cada imagen.</p>
<p> - Al finalizar con todas las imágenes podemos hacer un ranking de quien ha acertado más.</p>
